- @hide_top_links = true
- page_title _("Issues")
- @breadcrumb_link = issues_dashboard_path(assignee_id: current_user.id)
= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, safe_params.merge(rss_url_options).to_h, title: "#{current_user.name} 问题")

.page-title-holder
  %h1.page-title= _('Issues')

  - if current_user
    .page-title-controls
      = render 'shared/new_project_item_select', path: 'issues/new', label: "New issue", with_feature_enabled: 'issues', type: :issues

.top-area
  = render 'shared/issuable/nav', type: :issues, display_count: !@no_filters_set
  .nav-controls
    = render 'shared/issuable/feed_buttons'

= render 'shared/issuable/filter', type: :issues

- if current_user && @no_filters_set
  = render 'shared/dashboard/no_filter_selected'
- else
  = render 'shared/issues'
