- @no_container = true
- page_title "后台作业"

%div{ class: container_class }
  %h3.page-title 后台作业
  %p.light GitLab 使用 #{link_to "sidekiq", "http://sidekiq.org/"} 库同步作业处理

  %hr

  .card
    .card-header Sidekiq 运行进程
    .card-body
      - if @sidekiq_processes.empty?
        %h4.cred
          %i.fa.fa-exclamation-triangle
          没有运行的 sidekiq 进程，请重新启动 GitLab
      - else
        .table-holder
          %table.table
            %thead
              %th 用户
              %th PID
              %th CPU
              %th 内存
              %th 状态
              %th 启动时间
              %th 命令行
            %tbody
              - @sidekiq_processes.each do |process|
                %tr
                  %td= gitlab_config.user
                  - parse_sidekiq_ps(process).each do |value|
                    %td= value
        .clearfix
          %p
            %i.fa.fa-exclamation-circle
            如果显示 '[#{@concurrency} of #{@concurrency} busy]' 请使用 'sudo service gitlab reload' 重新启动 GitLab。
          %p
            %i.fa.fa-exclamation-circle
            如果列出超过一个 sidekiq 进程，请停止 GitLab，杀死剩余的 sidekiq 进程 (sudo pkill -u #{Settings.gitlab.user} -f sidekiq)，然后重新启动 GitLab。



  .card
    %iframe{ src: sidekiq_path, width: '100%', height: 970, style: "border: 0" }
